.blue {
  width: 100px;
  height: 200px;
  background-color: blue;
  position: relative;
}
.yellow {
  width: 100px;
  height: 150px;
  background-color: yellow;
  position: relative;
  left: 100px;
  bottom: 200px;
}
.red {
  width: 100px;
  height: 150px;
  background-color: red;
  position: relative;
  left: 200px;
  bottom: 350px;
}
.green {
  width: 200px;
  height: 50px;
  background-color: green;
  position: relative;
  left: 100px;
  bottom: 350px;
}