.reserva {
  background-image: url('assets/reserva.png');
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.foco-incendio {
  background-image: url('assets/foco.gif');
  position: absolute;
  z-index: 2;
}

.caveira-incendio{
	background-image: url('assets/caveira.gif');
  position: absolute;
  z-index: 2;
}
