body{
	width: 100vw;
	height: 100vh;
	background: #2F4F4F;
	display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;

}

.reserva {
  background-image: url('assets/reserva.png');
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  border: 5px solid #000;
}

.foco-incendio {
  background-image: url('assets/foco.gif');
  position: absolute;
  z-index: 2;
}

.caveira-incendio{
	background-image: url('assets/caveira.gif');
  position: absolute;
  z-index: 2;
}

.pontuacao{
	display: block;
	position: relative;
	font-size: 60px;
  font-style: oblique;
  z-index = 2;
}

.devastacao-incendio{
	background-image: url('assets/devastacao.png');
  position: absolute;
  z-index: 2;
}
.devastacao-caveira{
	background-image: url('assets/devastacao.png');
  position: absolute;
  z-index: 2;
}
