<style>

	body{

	background-color: #0d3a3a;
	flex-direction: row;
	font-size: medium;
	text-align: center;
}

</style>
<h1>Vigilante da Floresta</h1>
<img src="img/vigilantes.jpeg">

<h1>O jogo</h1>
O jogo consiste em apagar os incêndios que surgem na floresta e acumular pontos. Existem dois tipos de incêndio e dois tipos de pontuação.
O fogo comum aparece constantemente e apagá-los gera uma recompensa de 10 pontos, caso contrário perde uma vida (árvore). Caveiras de Fogo aparecem constantemente porém menos que 
os fogos comum. Apagá-los gera uma recompensa de 20 pontos, caso contrário perde duas vidas (árvores).
